*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #001e4d;
}
.soruApp{
    background: #fff;
    width: 100%;
    max-width: 700px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.soruApp h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.altbaslik h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.girilenDeger{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: all 0.3s;
}

.girilenDeger:hover{
    background: #222;
    color: #fff;
}


.cevapla{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.cevapla:hover{
    background: #222;
    color: #fff;
}

.atla{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.atla:hover{
    background: #222;
    color: #fff;
}







.yigit{
    color: white;
    margin-top: 30vh;
}

@media screen and (max-width:414px) {
    .yigit{
        margin: auto;
        margin-top: 3rem
    }
    
    
}